html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  color-scheme: dark;
}

@media (max-width: 400px) {
  .image-phone-sm {
    height: 80px !important;  /* например, замена h-26 на 80px */
    width: 80px !important;
    bottom: -25px !important;
  }
}